player-connection-mode=Listen
player-connection-guid=1373247067
player-connection-debug=0
player-connection-project-name=Plataforms2
player-connection-ip=192.168.1.164
player-connection-ip=192.168.197.1
player-connection-ip=192.168.199.1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
